# Secret Credentials (CRITICAL)
vivahasya-82fe60de876e.json
.env

# Dependencies (Too large to upload)
node_modules/

# Temporary Uploads
uploads/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db